@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#2E3440] text-[#D8DEE9] font-mono;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
